* {
    margin: 0;
    padding: 0;
  }
  
  .home { 
    width: 100%;
    height: 80%;
  }

    #homebase-title {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
      
      .home-title {
        background-color: #01B1D7; 
      }

      .home p {
        font-size: 15px;
      }
      
      .home-title p {
        color: white;
        font-size: 15px;
      }

      .home h1 {
        font-size: 20px;
        float: left;
        height: 30px;
        padding-left: 15px;
        width: 50%;

      }

      .home h2{
        font-size: 15px;  
        float: right;
        height: 30px;
        width: 40%;
        

       }
      .home hr {
        width: 80%;
        border-top: 1px solid #B0D786;
      }

      #homebase-title2 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #01B1D7; 
      }
      .home-title2 p {
        color: white;
        font-size: 15px;
        padding-left: 20px;
      }
