* {
  margin: 0;
  padding: 0;
}

.tracking {
  width: 100%;
  height: 80%;
}
.tracking-point {
  height: 15%;
  display: flex;
  margin-left: 20px;
  padding: 20px;
  color: #01416d;
}

.tracking hr {
  width: 60%;
  border-top: 1px solid #b0d786;
  margin-left: 70px;
}

#tracking-title {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.track-title {
  background-color: #01b1d7;
}

.tracking p {
  font-size: 15px;
}

.track-title p {
  color: white;
  font-size: 15px;
}

.tracking h4 {
  color: #01416d;
}

.details,
.photo {
  display: inline;
  /* vertical-align: middle; */
}

.main-details,
.verticalLine {
  display: inline;
}

.main-details {
  width: 80%;
  background-color: lightpink;
}

.photo img {
  height: 70px;
  width: 80 px;
  margin-left: 10px;
}

.timeline img {
  position: relative;
  height: 300px;
  width: 80 px;
  margin-left: 5px;
  float: left;
  padding-top: 6%;
}

.gear img {
  float: right;
}
